@model glps.Models.bchn_data

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Index</title>
</head>
<body>
    <p class="fw-bolder">Welcome to Greenline Passanger System Dashboard.</p>
    <p>
        GreenLine vet the information against the border control register and issue a
        threat risk measurement as a percentage for each cargo/passenger/crew member with 0% meaning
        no risk through to 100% which is a guaranteed risk.
    </p>
    <p>Risks are presented by airport, terminal, flights, passengers as well as by risk types.</p>
    <p>The risk assessment metric has rules associated with terrorism, narcotics, smuggling, illegal immigration, and revenue related threats.</p></body>
</html>
